<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <img src="http://getdrawings.com/images/microphone-line-drawing-37.jpg" alt="logo">
  </a>
 <div class="navbar-wagon-right hidden-xs hidden-sm">

  <%= link_to 'Something more about me', about_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to 'look at me!', show_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to 'get in touch', contact_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to 'do not go here', index_path, class: "navbar-wagon-item navbar-wagon-link" %>
  </div>
</div>

