<%= render "share/navbar" %>
<h1>about me, myself and I (13/08/2018)</h1>
<h4>I quote</h4>
  <p>"If we don't know what we want it's because we silenced ourselves."</p>
  <p>"Sarcasm is a way of ignoring our own needs."</p>
<h3>intro</h3>
  <p>After reading a medium story from Kris Gage; "How to know what you want." I thought to give it a try to look up a feelings chart and confront myself in deciding how I feel.>
<h3>little sneak peak inside my brain</h3>
  <ul>
    <li id="list-1">
      relaxed -> I feel relaxed because of my new 8.00 -14.00 sit at my desk plan. It feels soothing to have a daily task with the simple goal of self- inmprovement.</li>
        <br>

    <li id="list-2">
      unique -> Beïng left-handed and having heterochromia makes me easily believe that I am not the most regular person. The way I feel about things, I think is also different than usual; Not many thoughts, ideas or conclusions ever feel profound enough to be complete. When something is not complete it is a sane thought to not blindly trust it. I believe this way of made me skilled in thinking based on the simple facts and looking for long term improvements.</li>
        <br>

    <li id="list-3">
      sceptical -> Beïng in search for a job makes me sceptical to myself. By only having recently learned how to code, I definitely feel the presence of some kind of imposter syndrome.</li>
        <br>

    <li id="list-4">
      fear -> I consider fear as my high-productivity-feeling. By thinking about my possible futures and seeing possible downfalls or mistakes I get motivated to make sure my future will go well. It makes me search for unknown opportunities in ways I have never practiced before.</li>
        <br>

  </ul>
