<%= render "share/navbar" %>
<div class="container">
  <div class="row">
  <h2>To get in touch</h2>
  </div>
  <div class= "row" id="contact-list"=>
    <ul style="list-style-type: none;">
      <li class="list">
        <a href="mailto:erlandvr@gmail.com" class="btn btn-info">Send me a mail</a> erlandvr@gmail.com</li>
        <br>

      <li class="list">
        <a href="https://www.youtube.com/watch?v=StKVS0eI85I&t=34s" class="btn btn-info">
      Give me a call (click for motivation)</a> +32/474.94 78 79</li>
        <br>

      <li class="list">
        <a href="https://linkedin.com/in/erlandvr/" class="btn btn-info"> My linkedin</a></li>
        <br>

      <li class="list">
        <a href="https://github.com/erlandvr" class="btn btn-info">My github</a></li>
        <br>

    </ul>
  </div>
</div>
