<h1>Welcome to the by me highly overrated website</h1>

<h3>small introduction</h3>
<p>this website should be a never ending story. It will not show anything you usually find as a resume. The real reason this website exists is because I wanted to have fun while rehearsing my recently acquired skills. This website will probably look messy all the time -\_(..)_/- Just try to have some fun.</p>
<br>

<%= link_to "click on this", start_path, class: "btn btn-info" %>
