<%= render "share/navbar" %>
<h2>ah yeah look at me!</h2>
<%= image_tag("https://scontent.fbru2-1.fna.fbcdn.net/v/t1.0-9/38191998_10214819877983479_5763459396671635456_n.jpg?_nc_cat=0&oh=dc8523ed3d9b2fbde62cb6a7b2f5b4a9&oe=5C0CDF4B", class: "user-avatar") %>
<p>create my own name in seperate letters and let each letter make noise when it is being pressed on the keyboard</p>
