<h2>your goals are:</h2>

<ul style="list-style-type: none;">
  <li id="list-1"> A unique experience</li>
  <li id="list-2"> To not lose too much time </li>
  <li id="list-3"> To hire me </li>
</ul>
<br>

<%= link_to "go for it", show_path, class: "btn btn-info" %>
